header{
	text-transform: uppercase;
	font-weight: bold;
}

.bg{
	transition: 1s ease;
	background-color: rgba(0,0,0,.9);
	border-bottom: solid;
	border-width: 0px;

}

.bg.scrolled{
	background-color: black;
}

.navbar-brand{
	color: white;
}


.menu{
	font-size: 18px !important;
	color: white !important;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20px;
	min-width: 100px;
	text-align: center;
	border: solid;
	border-width: 1px;
	border-color: black;
}

.menu:hover{
	color: black !important;
	background-color: white;
}

.social{
  font-size: 30px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

.social:hover{
	font-weight: bold;
	font-size: 35px;
	padding: 5px;
	margin-left: 7.5px;
  	margin-right: 7.5px;
}

.active .menu{
	border-color: rgba(250,250,250,.8) !important;
	border: solid;
}

.header-height{
	background-color: black;
}

.profile{
	width:0px;
	padding-top: 20px;
	padding-bottom: 20px;
	/*border-radius: 100px;*/
	/*padding: 30px;*/
	/*padding-left: 30px;
	padding-right: 30px;*/
}

.name{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	vertical-align: middle;
	margin: 15px;
	padding: 10px;
	color: white;
	text-shadow: 4px 4px 3px rgb(100,100,100);
	/*text-shadow: -5px -5px 5px rgb(150,150,150);*/
	/*align-items: center;*/
}

.detail{
	text-align: justify;
	font-size: 20px;
	padding: 10px;
	color: white;
}